:root {
  --gradient-start: rgba(0,232,186,1);
  --gradient-middle: rgba(32,152,217,1);
  --gradient-end: rgba(144,31,219,1);
  --main-color: #3a7cd9;
  --white-color: #fff;
  --main-border-radius: 5px;
  --main-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.55);
  --horizontal-gap: 20px;
}


/* common */

body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #545454;
  position: relative;
}

h1, h2 {
  font-weight: bold;
}

h2 {
  margin-bottom: 1rem;
  text-align: center;
}

h3 {
  margin-bottom: 1rem;
  text-align: center;
  line-height: 1.5rem;
}

p {
  line-height: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

@media only screen and (min-width: 840px) {
  h2 {
    font-size: 1.3rem;
  }
}

.container {
  max-width: 1360px;
  padding: 30px var(--horizontal-gap);
  margin: 0 auto;
}

@media only screen and (min-width: 1360px) {
  .container {
    padding: 30px 0;
  }
}

/* header */

header .container {
  padding: var(--horizontal-gap);
}
header h1 span {
  display: block;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.8rem;
  text-align: center;
}

.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: var(--white-color);
  -webkit-box-shadow: var(--main-box-shadow);
  -moz-box-shadow: var(--main-box-shadow);
  box-shadow: var(--main-box-shadow);
}

.menu li {
  display: flex;
}

.menu a {
  padding: 15px;
}

@media only screen and (min-width: 840px) {
  header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  header h1 span {
    text-align: left;
  }

  .menu {
    position: relative;
    z-index: 1;
    box-shadow: none;
  }

  .menu a::after {
    content: "";
    margin-top: 5px;
    width: 0;
    height: 2px;
    display: block;
    background: var(--gradient-start);
    background: -moz-linear-gradient(left, var(--gradient-start) 0%, var(--gradient-middle) 54%, var(--gradient-end) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, var(--gradient-start)), color-stop(54%, var(--gradient-middle)), color-stop(100%, var(--gradient-end)));
    background: -webkit-linear-gradient(left, var(--gradient-start) 0%, var(--gradient-middle) 54%, var(--gradient-end) 100%);
    background: -o-linear-gradient(left, var(--gradient-start) 0%, var(--gradient-middle) 54%, var(--gradient-end) 100%);
    background: -ms-linear-gradient(left, var(--gradient-start) 0%, var(--gradient-middle) 54%, var(--gradient-end) 100%);
    background: linear-gradient(to right, var(--gradient-start) 0%, var(--gradient-middle) 54%, var(--gradient-end) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e8ba', endColorstr='#901fdb', GradientType=1 );
    transition: all 1s;
  }

  .menu a:hover::after {
    width: 100%;
  }
  
  .menu li:last-of-type a {
    padding-right: 0;
  }
    
}

@media only screen and (min-width: 1024px) {
  header h1 span {
    display: inline-block;
  }

  header h1 span:last-of-type:before {
    content: " - ";
    display: inline-block;
    margin: 0 5px;
  }
}

@media only screen and (min-width: 1360px) {
  header .container {
    padding: var(--horizontal-gap) 0;
  }
}

.main-image {
  margin-bottom: -4px;
  height: 5vh;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

@media only screen and (min-width: 600px) {
  .main-image {
    height: 20vh;
  }
}

@media only screen and (min-width: 840px) {
    .main-image {
      height: 40vh;
    }
  }

/* about me */

#about-me {
  padding-bottom: 100px;
  text-align: center;
  background: var(--gradient-start);
  background: -moz-linear-gradient(left, var(--gradient-start) 0%, var(--gradient-middle) 54%, var(--gradient-end) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, var(--gradient-start)), color-stop(54%, var(--gradient-middle)), color-stop(100%, var(--gradient-end)));
  background: -webkit-linear-gradient(left, var(--gradient-start) 0%, var(--gradient-middle) 54%, var(--gradient-end) 100%);
  background: -o-linear-gradient(left, var(--gradient-start) 0%, var(--gradient-middle) 54%, var(--gradient-end) 100%);
  background: -ms-linear-gradient(left, var(--gradient-start) 0%, var(--gradient-middle) 54%, var(--gradient-end) 100%);
  background: linear-gradient(to right, var(--gradient-start) 0%, var(--gradient-middle) 54%, var(--gradient-end) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e8ba', endColorstr='#901fdb', GradientType=1 );
}

#about-me h2 {
  color: var(--white-color);
}

#about-me p {
  color: var(--white-color);
  line-height: 1.5rem;
  text-align: center;
}

#about-me a {
  display: block;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: var(--white-color);
}

#about-me a:hover {
  color: #f1f1f1;
}


/* my skills */

#my-skills {
  margin: -100px var(--horizontal-gap) 0;
  background-color: var(--white-color);
  -webkit-box-shadow: var(--main-box-shadow);
  -moz-box-shadow: var(--main-box-shadow);
  box-shadow: var(--main-box-shadow);
  border-radius: var(--main-border-radius);
}

#my-skills ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#my-skills li {
  width: 43%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: var(--main-border-radius);
  border: 1px solid #f1f1f1;
}

#my-skills li i {
  margin-bottom: 0.5rem;
  font-size: 2.2rem;
  color: var(--main-color);
}

#my-skills h3 {
  margin-bottom: 0;
}

#my-skills a {
  display: block;
  margin-top: 10px;
  font-size: 0.9rem;
  text-align: right;
}

#my-skills a:hover {
  color: var(--main-color);
}

@media only screen and (min-width: 840px) {
  #my-skills li {
    width: 30%;
  }

  #my-skills a {
    margin-right: 25px;
  }
}

@media only screen and (min-width: 1024px) {
  #my-skills li {
    width: 14%;
  }
}

@media only screen and (min-width: 1360px) {
  #my-skills {
    margin: -100px auto 0;
  }
}

/* portfolio */

#portfolio ul {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

#portfolio li {
  position: relative;
  height: 150px;
  overflow: hidden;
  margin-bottom: 10px;
}

#portfolio img {
  width: 100%;
}

.portfolio-text-box {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  height: 40px;
  width: 100%;
  background: rgba(0,232,186,.7);
  background: -moz-linear-gradient(left, rgba(0,232,186,.7) 0%, rgba(32,152,217,.7) 54%, rgba(144,31,219,.7) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,232,186,.7)), color-stop(54%, rgba(32,152,217,.7)), color-stop(100%, rgba(144,31,219,.7)));
  background: -webkit-linear-gradient(left, rgba(0,232,186,.7) 0%, rgba(32,152,217,.7) 54%, rgba(144,31,219,.7) 100%);
  background: -o-linear-gradient(left, rgba(0,232,186,.7) 0%, rgba(32,152,217,.7) 54%, rgba(144,31,219,.7) 100%);
  background: -ms-linear-gradient(left, rgba(0,232,186,.7) 0%, rgba(32,152,217,.7) 54%, rgba(144,31,219,.7) 100%);
  background: linear-gradient(to right, rgba(0,232,186,.7) 0%, rgba(32,152,217,.7) 54%, rgba(144,31,219,.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e8ba', endColorstr='#901fdb', GradientType=1 );
}

#portfolio h3 {
  color: var(--white-color);
  text-align: left;
}

#portfolio h3::after {
  content: "";
  display: block;
  margin-top: 5px;
  height: 1px;
  width: 0;
  background-color: var(--white-color);
  transition: width 2s;
}

#portfolio p {
  display: none;
}

#portfolio .anchor {
  display: block;
  margin-top: 10px;
  font-size: 0.9rem;
  text-align: right;
}

#portfolio .anchor:hover {
  color: var(--main-color);
}

@media only screen and (min-width: 840px) {
  #portfolio ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  #portfolio li {
    width: 49.5%;
  }

  .portfolio-text-box {
    transition: height 1s;
  }

  #portfolio li:hover .portfolio-text-box {
    height: 100%;
  }

  #portfolio li:hover h3::after {
    width: 150px;
  }


  #portfolio li:hover p {
    display: block;
    margin-top: 20px;
    color: var(--white-color);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
  }

  #portfolio .anchor {
    margin-right: 25px;
  }

}

@media only screen and (min-width: 1360px) {
  #portfolio li {
    width: 24.5%;
    margin-bottom: 0;
  }
}

/* footer */

footer {
  padding-bottom: 50px;
  text-align: center;
}

.contact-box {
  margin: 20px var(--horizontal-gap) -50px;
  padding-top: 60px;
  z-index: 0;
  position: relative;
  background-color: var(--white-color);
  -webkit-box-shadow: var(--main-box-shadow);
  -moz-box-shadow: var(--main-box-shadow);
  box-shadow: var(--main-box-shadow);
  border-radius: var(--main-border-radius);
}

.puls {
  --main-circle-size: 40px;
}

.puls {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--main-circle-size);
  width: var(--main-circle-size);
  background-color: var(--main-color);
  color: var(--white-color);
  font-weight: bold;
  font-size: 1.3rem;
  border-radius: 50%;
  animation: puls 1.5s infinite alternate-reverse;
}

@keyframes puls {
  0% {
    box-shadow: 0 0 0 rgb(30, 73, 133);
  }
  100% {
    box-shadow: 0 0 25px rgb(30, 73, 133)
  }
}

.puls::after{
  --bigger-circle-size: 80px;
}

.puls::after {
  content: "";
  width: var(--bigger-circle-size);
  height: var(--bigger-circle-size);
  position: absolute;
  z-index: -1;
  top: -20px;
  left: -20px;
  background-color: var(--main-color);
  opacity: 0.25;
  border-radius: 50%;
}

.puls::before {
  --border-circle-size: 60px;
}

.puls::before {
  content: "";
  width: var(--border-circle-size);
  height: var(--border-circle-size);
  position: absolute;
  top: -10px;
  left: -10px;
  border: 1px solid #f1f1f1;
  border-radius: 50%;
}

.footer-box {
  padding-top: 50px;
  text-align: center;
  background: var(--gradient-start);
  background: -moz-linear-gradient(left, var(--gradient-start) 0%, var(--gradient-middle) 54%, var(--gradient-end) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, var(--gradient-start)), color-stop(54%, var(--gradient-middle)), color-stop(100%, var(--gradient-end)));
  background: -webkit-linear-gradient(left, var(--gradient-start) 0%, var(--gradient-middle) 54%, var(--gradient-end) 100%);
  background: -o-linear-gradient(left, var(--gradient-start) 0%, var(--gradient-middle) 54%, var(--gradient-end) 100%);
  background: -ms-linear-gradient(left, var(--gradient-start) 0%, var(--gradient-middle) 54%, var(--gradient-end) 100%);
  background: linear-gradient(to right, var(--gradient-start) 0%, var(--gradient-middle) 54%, var(--gradient-end) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e8ba', endColorstr='#901fdb', GradientType=1 );
}

.footer-box ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-box div {
  --icon-circle-size: 2.4rem;
}

.footer-box div {
  background-color: transparent;
  margin: 20px 10px;
  height: var(--icon-circle-size);
  width: var(--icon-circle-size);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--white-color);
  border-radius: 50%;
  transform: rotate(0deg);
  transition: background-color 1s, transform 1.5s;
}

.footer-box div:hover {
  background-color: var(--white-color);
  transform: rotate(360deg);
}

.footer-box i {
  font-size: 1.5rem;
  color: var(--white-color);
  transition: color 1s;
}

.footer-box div:hover i {
  color: var(--main-color);
}

@media only screen and (min-width: 840px) {
  footer {
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 1360px) {
  .contact-box {
    margin: 0 auto -50px;
  }
}